*{
	margin: 0;
	padding: 0;
}
.groundImg{
	width: 100%;
	background-image: url(../img/groundImg1.jpg);
	background-size: 100% 100%;
	position: fixed;
	z-index: -1;
}
.titleBox{
	width: 100%;
	padding-top: 1px;
}
.mainTitle{
	font-size: 400%;
	margin: 15% 0 0 10%;
	color: #eecbf0;
	font-weight: 300;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.subsidiaryTitle{
	font-size: 150%;
	margin: 1% 0 0 10%;
	color: #eecbf0;
	font-weight: 400;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.introduce{
	height: 58%;
	width: 100%;
	background-color: black;
	position: relative;
	margin-top: -1px;
	padding-top: 1px;
	
}

/* 粒子 */
#particlesblock{
	width:100%;
	position: absolute;
}
#particles{
	width:100%;
	height:100%;
	position: relative;
	top:0px;
}
#intro{
	width:100%;
	position: absolute;
	left: 0;
	text-align: center;
}
#introContent{
	width:100%;
	position: absolute;
}
.boxTitle{
	font-size: 300%;
	color: white;
	font-weight: bolder;
	text-align: center;
	margin-top: 10%;
}
.animate{
	height: 8.8%;
	width: 95%;
	margin: 2% auto;
	overflow: hidden;
}
.animateBox{
	height: 60%;
	width: 10.25%;
	float: left;
	box-shadow: 3px -3px 15px #cacac4;
	margin-left: 0.5%;
	padding-bottom: 1.2%;
}
.animateBox p{
	font-size: 270%;
	text-align: center;
	margin-top: 6%;
	font-weight: bolder;
}
.animateBox1{
	background-color: #82c8de;
	margin: 2% 0 0 5.5%;
}
.animateBox2{
	background-color: #e9b76d;
	margin-top: 2%;
}
.animateBox3{
	background-color: #e6ea7b;
	margin-top: 2%;
}
.animateBox4{
	background-color: #7bead0;
	margin-top: 2%;
}
.animateBox5{
	background-color: #9eea7b;
	margin-top: 2%;
}
.animateBox6{
	background-color: #EECBF0;
	margin-top: 2%;
}
.add{
	width: 4.5%;
	float: left;
	margin: 4.5% 0 0 0.5%;
}
.equal{
	width: 4.5%;
	height: 27%;
	float: left;
	margin: 4.9% 0 0 0.5%;
}
.teamBox{
	height: 11%;
	width: 100%;
}
.teamBox2{
	height: 50%;
	width: 100%;
}
.programming{
	height: 44.3%;
	width: 80%;
	margin: 4% auto 0;
}
.art{
	height: 11.5%;
	width: 80%;
	margin: 4% auto 0;
}
.product{
	height: 6.6%;
	width: 80%;
	margin: 0 auto;
}
.education{
	height: 8.2%;
	width: 80%;
	margin: 0 auto;
}
.newMedia{
	height: 9.2%;
	width: 80%;
	margin: 0 auto;
}
.mainName{
	text-align: center;
	font-size: 240%;
	color: white;
	margin-top: 8%;
}
.teamName{
	font-size: 160%;
	color: white;
	margin-top: 3.5%;
}
.teamText{
	font-size: 120%;
	color: white;
	margin-top: 1%;
}
.teamText2{
	font-size: 120%;
	color: white;
	margin-top: 5%;
}
#signUpContent{
	width:100%;
	height:100%;
	position: relative;
}
.signUpBox{
	width: 100%;
	padding-top: 1px;
}
.signUpBoxTitle{
	font-size: 550%;
	margin: 7% 0 0 10%;
	color: #cfdfe2;
	font-weight: 320;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.signUp{
	width: 100%;
	height: 25%;
	background: black;
	margin-top: -1px;
	padding-top: 1px;
}
#signUpContent{
	width:100%;
	position: absolute;
}
.signUpTitle{
	height: 10%;
	width: 30%;
	margin: 7% auto 0;
	border-top: 4px double white;
	border-right: 4px double white;
	border-left: 4px double white;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	overflow: hidden;
}
.largeGroup{
	height: 100%;
	width: 49.5%;
	background-color: #edcf0c;
	float: left;
	color: white;
	font-size: 230%;
	text-align: center;
	line-height: 200%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.interval{
	height: 100%;
	width: 1%;
	background-color: white;
	float: left;
}
.group{
	height: 100%;
	width: 49.5%;
	background-color: black;
	float: left;
	color: white;
	font-size: 230%;
	text-align: center;
	line-height: 200%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.signUpInformation{
	height: 120%;
	width: 70%;
	position: relative;
	margin: 0 auto;
	border: 4px solid white;
}





.informationName{
	height: 11%;
	width: 100%;
	margin-top: 4%;
}
.informationId,.informationTelephone,.informationQQ,.informationFirstChoice,.informationSecondChoice,.informationVerificationCode{
	height: 11%;
	width: 100%;
}
.nameText,.idText,.QQText{
	font-size: 230%;
	color: white;
	position: absolute;
	left: 25%;
	user-select: none;
}
.telephoneText,.firstChoiceText,.secondChoiceText{
	font-size: 230%;
	color: white;
	position: absolute;
	left: 21.7%;
	user-select: none;
}
.verificationCodeText{
	font-size: 230%;
	color: white;
	position: absolute;
	left: 23.1%;
	user-select: none;
}
.nameInput,.idInput,.telephoneInput,.QQInput{
	height: 6%;
	width: 30%;
	right: 25%;
	position: absolute;
	font-size: 150%;
	color: #7babdb;
}
.verificationCodeInput{
	height: 6%;
	width: 15%;
	right: 40%;
	position: absolute;
	font-size: 150%;
	color: #7babdb;
}
.firstChoiceInput,.secondChoiceInput{
	height: 6.7%;
	width: 30.26%;
	right: 25%;
	position: absolute;
	font-size: 150%;
	color: #7babdb;
}
.verificationCodeBox{
	height: 6.4%;
	width: 13%;
	right: 25%;
	position: absolute;
	font-size: 150%;
	color: #7babdb;
}
.namePrompt,.idPrompt,.telephonePrompt,.QQPrompt,.firstChoicePrompt,.secondChoicePrompt,.verificationCodePrompt{
	font-size: 120%;
	color: #f9f767;
	user-select: none;
	left: 45%;
	margin-top: 5.5%;
	position: absolute;
	visibility: hidden;
}
.informationSubmit{
	width: 22%;
	height: 9%;
	background-color: #4ec9ef;
	border-radius:50px;
	box-shadow: 0 0 0 4px white,0 0 0 4px #d2f8af;
	margin: 2% auto 0;
	cursor:pointer;
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
  
	-webkit-box-align: center; -moz-box-align: center; /* OLD… */
	-ms-flex-align: center; /* You know the drill now… */
	-webkit-align-items: center;
	align-items: center;
  
	-webkit-box-pack: center; -moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.informationSubmit:hover{
	background-color: #4391df;
}
.submitText{
	font-size: 180%;
	color: #c8eef9;
	user-select: none;
	position: relative;
}